<form class="ui large form segment">
  <h3 class="ui header">Dodajte let</h3>
  <div class="field">
    <label for="naziv">Naziv: </label>
    <input name="naziv" #newnaziv>
  </div><br>
  <div class="field">
    <label for="od">Od: </label>
    <input name="od" #newod>
  </div><br>
  <div class="field">
    <label for="doo">Do: </label>
    <input name="doo" #newdo>
  </div><br>
  <button (click)="addFlight(newnaziv, newod, newdo)" class="ui positive right floated button">
    Dodaj
  </button>
</form><br><br>

<div class="ui grid posts">

  <table>
    <app-flight *ngFor="let flight of flights" [flight]="flight">
    </app-flight>
  </table>



</div>